<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebReportPOS</display-name>
  <welcome-file-list>
    <welcome-file>ReportJasper.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InventoryProcessor</display-name>
    <servlet-name>InventoryProcessor</servlet-name>
    <servlet-class>pos.report.inventory.InventoryProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryProcessor</servlet-name>
    <url-pattern>/InventoryProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartsalesProcessor</display-name>
    <servlet-name>ChartsalesProcessor</servlet-name>
    <servlet-class>pos.chartsales.ChartsalesProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartsalesProcessor</servlet-name>
    <url-pattern>/ChartsalesProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventorydiffdetailProcessor</display-name>
    <servlet-name>InventorydiffdetailProcessor</servlet-name>
    <servlet-class>pos.report.inventorydiffdetail.InventorydiffdetailProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventorydiffdetailProcessor</servlet-name>
    <url-pattern>/InventorydiffdetailProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventorylistdetailProcessor</display-name>
    <servlet-name>InventorylistdetailProcessor</servlet-name>
    <servlet-class>pos.inventorylistdetail.InventorylistdetailProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventorylistdetailProcessor</servlet-name>
    <url-pattern>/InventorylistdetailProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductlabelsProcessor</display-name>
    <servlet-name>ProductlabelsProcessor</servlet-name>
    <servlet-class>pos.productlabels.ProductlabelsProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductlabelsProcessor</servlet-name>
    <url-pattern>/ProductlabelsProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salecatalog</display-name>
    <servlet-name>Salecatalog</servlet-name>
    <servlet-class>pos.salecatalog.Salecatalog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salecatalog</servlet-name>
    <url-pattern>/Salecatalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top10salesProcessor</display-name>
    <servlet-name>Top10salesProcessor</servlet-name>
    <servlet-class>pos.top10sales.Top10salesProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top10salesProcessor</servlet-name>
    <url-pattern>/Top10salesProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top10slowestsaleProcessor</display-name>
    <servlet-name>Top10slowestsaleProcessor</servlet-name>
    <servlet-class>pos.top10slowestsale.Top10slowestsaleProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top10slowestsaleProcessor</servlet-name>
    <url-pattern>/Top10slowestsaleProcessor</url-pattern>
  </servlet-mapping>
</web-app>